{{#if addNewRental}}
<div class="form-group">
       <label for="owner">Owner</label>
       {{input value=owner id="owner"}}
     </div>
  <p>
    Placeholder for rental form
  </p>
  {{else}}
  <button {{action 'rentalFormShow'}}>New Rental</button>
{{/if}}
